.grid{
    margin: auto;
    padding: 40px;
    border-radius: 10%;
    width: 800px;
    height: 600px; 
    background-color: pink;
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler{
    width: 60px;
    height: 60px;
    position: absolute; 
    background-image: url('character-doodle-jump.png');

}

.platform {
    border-radius: 20%;
    width: 85px;
    height: 45px;
    position: absolute;
    background-image: url('cloud background - doodle jump.png');
}

.button{
    width: 100px;
    height: 50px;
    margin: auto;
    border-radius: 10%;
    background-color: black;
    color: white;
}